.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .9rem;
}

.icon {
    display: flex;
    gap: .4rem;
    align-items: center;
    font-size: 10px;
}

.card h5 {
    margin-bottom: .8rem;
}

.card span {
    background: var(--side-bar);
    padding: .2rem;
    border-radius: .2rem;
    color: #fff;
    font-size: 14px;
}